.friends-lists__list__left__right {
  display: flex;
  flex-direction: column;
}

.friends-lists__list__left__right span:first-child {
  font-size: var(--medium);
  margin-bottom: 10px;
}

.friends-lists__list__left__right span:last-child {
  color: var(--gray);
}

.friends-lists__list__right__right {
  display: flex;
  flex-direction: column;
}

.friends-lists__list__right__right span:first-child {
  color: var(--gray);
  margin-bottom: 5px;
}

.friends-lists__list__right__right span:last-child {
  background-color: var(--red);
  padding: 12px;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: var(--small);
}
