.friends-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  padding: 10px;
  margin-bottom: 30px;
}

.friends-display__box {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-display i {
  color: var(--gray);
}

.friends-display span {
  font-size: var(--regular);
}

.channel-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--small);
  color: var(--gray);
  margin-bottom: 20px;
}

.friends-lists__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friends-lists__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--small);
  margin-bottom: 30px;
}

.friends-lists__list__left {
  display: flex;
  align-items: center;
}

.friends-lists__list__left img {
  width: 240px;
  height: 120px;
  border-radius: 800px;
  margin-right: 20px;
}

.play {
  font-size: var(--exsmall);
  border: 1px solid var(--light-green);
  border-radius: 10px;
  padding: 5px;
}

.play:hover {
  background-color: var(--light-green);
}
