.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-title__left {
  width: 170px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
