.main-title {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  left: 0;
  right: 0;
  top: 32px;
  position: fixed;
}

.main-title__left {
  width: 250px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main-title__left > i:last-child {
  margin-right: 0;
}
