.navbar {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-gray);
  padding: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  overflow: visible;
}

.notice-number {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(356deg);
  }
  100% {
    transform: none;
  }
}

.notice-number > span {
  position: absolute;
  right: -15px;
  top: -5px;
  background-color: var(--red);
  padding: 9px 14px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: var(--exsmall);
  animation: notificationAnimation 2s ease-in-out infinite;
}

.notice-dot {
  position: relative;
}
.notice-dot > span {
  position: absolute;
  right: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--red);
}
